# Ignore large files
output/processed_data.csv
output/features/X_train_with_fingerprints.parquet
output/features/X_val_with_fingerprints.parquet
output/cleaned_data.parquet
data/activity_data.csv
data/compound_data.csv
