# Ignore intermediate files and folders
output/features/cleaned/predictions.parquet
output/features/SHAP_Plots/
output/features/Feature_Importance_Plots/
output/features/X_train_final_part_*.parquet
output/features/X_train_with_fingerprints.parquet
output/features/X_val_with_fingerprints.parquet
